:root {
  --t-color-transparent: transparent;
  --t-color-black: #000;
  --t-color-white: #fff;
  --t-color-gray-100: #f7fafc;
  --t-color-gray-200: #edf2f7;
  --t-color-gray-300: #e2e8f0;
  --t-color-gray-400: #cbd5e0;
  --t-color-gray-500: #a0aec0;
  --t-color-gray-600: #718096;
  --t-color-gray-700: #4a5568;
  --t-color-gray-800: #2d3748;
  --t-color-gray-900: #1a202c;
  --t-color-red-100: #fff5f5;
  --t-color-red-200: #fed7d7;
  --t-color-red-300: #feb2b2;
  --t-color-red-400: #fc8181;
  --t-color-red-500: #f56565;
  --t-color-red-600: #e53e3e;
  --t-color-red-700: #c53030;
  --t-color-red-800: #9b2c2c;
  --t-color-red-900: #742a2a;
  --t-color-orange-100: #fffaf0;
  --t-color-orange-200: #feebc8;
  --t-color-orange-300: #fbd38d;
  --t-color-orange-400: #f6ad55;
  --t-color-orange-500: #ed8936;
  --t-color-orange-600: #dd6b20;
  --t-color-orange-700: #c05621;
  --t-color-orange-800: #9c4221;
  --t-color-orange-900: #7b341e;
  --t-color-yellow-100: #fffff0;
  --t-color-yellow-200: #fefcbf;
  --t-color-yellow-300: #faf089;
  --t-color-yellow-400: #f6e05e;
  --t-color-yellow-500: #ecc94b;
  --t-color-yellow-600: #d69e2e;
  --t-color-yellow-700: #b7791f;
  --t-color-yellow-800: #975a16;
  --t-color-yellow-900: #744210;
  --t-color-green-100: #f0fff4;
  --t-color-green-200: #c6f6d5;
  --t-color-green-300: #9ae6b4;
  --t-color-green-400: #68d391;
  --t-color-green-500: #48bb78;
  --t-color-green-600: #38a169;
  --t-color-green-700: #2f855a;
  --t-color-green-800: #276749;
  --t-color-green-900: #22543d;
  --t-color-teal-100: #e6fffa;
  --t-color-teal-200: #b2f5ea;
  --t-color-teal-300: #81e6d9;
  --t-color-teal-400: #4fd1c5;
  --t-color-teal-500: #38b2ac;
  --t-color-teal-600: #319795;
  --t-color-teal-700: #2c7a7b;
  --t-color-teal-800: #285e61;
  --t-color-teal-900: #234e52;
  --t-color-blue-100: #ebf8ff;
  --t-color-blue-200: #bee3f8;
  --t-color-blue-300: #90cdf4;
  --t-color-blue-400: #63b3ed;
  --t-color-blue-500: #4299e1;
  --t-color-blue-600: #3182ce;
  --t-color-blue-700: #2b6cb0;
  --t-color-blue-800: #2c5282;
  --t-color-blue-900: #2a4365;
  --t-color-indigo-100: #ebf4ff;
  --t-color-indigo-200: #c3dafe;
  --t-color-indigo-300: #a3bffa;
  --t-color-indigo-400: #7f9cf5;
  --t-color-indigo-500: #667eea;
  --t-color-indigo-600: #5a67d8;
  --t-color-indigo-700: #4c51bf;
  --t-color-indigo-800: #434190;
  --t-color-indigo-900: #3c366b;
  --t-color-purple-100: #faf5ff;
  --t-color-purple-200: #e9d8fd;
  --t-color-purple-300: #d6bcfa;
  --t-color-purple-400: #b794f4;
  --t-color-purple-500: #9f7aea;
  --t-color-purple-600: #805ad5;
  --t-color-purple-700: #6b46c1;
  --t-color-purple-800: #553c9a;
  --t-color-purple-900: #44337a;
  --t-color-pink-100: #fff5f7;
  --t-color-pink-200: #fed7e2;
  --t-color-pink-300: #fbb6ce;
  --t-color-pink-400: #f687b3;
  --t-color-pink-500: #ed64a6;
  --t-color-pink-600: #d53f8c;
  --t-color-pink-700: #b83280;
  --t-color-pink-800: #97266d;
  --t-color-pink-900: #702459;
  --t-sm: 640px;
  --t-md: 768px;
  --t-lg: 1024px;
  --t-xl: 1280px;
  --t-font-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --t-font-serif: Georgia,Cambria,"Times New Roman",Times,serif;
  --t-font-mono: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --t-text-xs: 0.75rem;
  --t-text-sm: 0.875rem;
  --t-text-base: 1rem;
  --t-text-lg: 1.125rem;
  --t-text-xl: 1.25rem;
  --t-text-2xl: 1.5rem;
  --t-text-3xl: 1.875rem;
  --t-text-4xl: 2.25rem;
  --t-text-5xl: 3rem;
  --t-text-6xl: 4rem;
  --t-font-hairline: 100;
  --t-font-thin: 200;
  --t-font-light: 300;
  --t-font-normal: 400;
  --t-font-medium: 500;
  --t-font-semibold: 600;
  --t-font-bold: 700;
  --t-font-extrabold: 800;
  --t-font-black: 900;
  --t-leading-none: 1;
  --t-leading-tight: 1.25;
  --t-leading-snug: 1.375;
  --t-leading-normal: 1.5;
  --t-leading-relaxed: 1.625;
  --t-leading-loose: 2;
  --t-tracking-tighter: -0.05em;
  --t-tracking-tight: -0.025em;
  --t-tracking-normal: 0;
  --t-tracking-wide: 0.025em;
  --t-tracking-wider: 0.05em;
  --t-tracking-widest: 0.1em;
  --t-bg-auto: auto;
  --t-bg-cover: cover;
  --t-bg-contain: contain;
  --t-border-0: 0;
  --t-border-2: 2px;
  --t-border-4: 4px;
  --t-border-8: 8px;
  --t-border: 1px;
  --t-round-none: 0;
  --t-round-sm: 0.125rem;
  --t-round: 0.25rem;
  --t-round-lg: 0.5rem;
  --t-round-full: 9999px;
  --t-w-0: 0;
  --t-w-1: 0.25rem;
  --t-w-2: 0.5rem;
  --t-w-3: 0.75rem;
  --t-w-4: 1rem;
  --t-w-5: 1.25rem;
  --t-w-6: 1.5rem;
  --t-w-8: 2rem;
  --t-w-10: 2.5rem;
  --t-w-12: 3rem;
  --t-w-16: 4rem;
  --t-w-20: 5rem;
  --t-w-24: 6rem;
  --t-w-32: 8rem;
  --t-w-40: 10rem;
  --t-w-48: 12rem;
  --t-w-56: 14rem;
  --t-w-64: 16rem;
  --t-w-auto: auto;
  --t-w-px: 1px;
  --t-w-1-2: 50%;
  --t-w-1-3: 33.333333%;
  --t-w-2-3: 66.666667%;
  --t-w-1-4: 25%;
  --t-w-2-4: 50%;
  --t-w-3-4: 75%;
  --t-w-1-5: 20%;
  --t-w-2-5: 40%;
  --t-w-3-5: 60%;
  --t-w-4-5: 80%;
  --t-w-1-6: 16.666667%;
  --t-w-2-6: 33.333333%;
  --t-w-3-6: 50%;
  --t-w-4-6: 66.666667%;
  --t-w-5-6: 83.333333%;
  --t-w-1-12: 8.333333%;
  --t-w-2-12: 16.666667%;
  --t-w-3-12: 25%;
  --t-w-4-12: 33.333333%;
  --t-w-5-12: 41.666667%;
  --t-w-6-12: 50%;
  --t-w-7-12: 58.333333%;
  --t-w-8-12: 66.666667%;
  --t-w-9-12: 75%;
  --t-w-10-12: 83.333333%;
  --t-w-11-12: 91.666667%;
  --t-w-full: 100%;
  --t-w-screen: 100vw;
  --t-h-0: 0;
  --t-h-1: 0.25rem;
  --t-h-2: 0.5rem;
  --t-h-3: 0.75rem;
  --t-h-4: 1rem;
  --t-h-5: 1.25rem;
  --t-h-6: 1.5rem;
  --t-h-8: 2rem;
  --t-h-10: 2.5rem;
  --t-h-12: 3rem;
  --t-h-16: 4rem;
  --t-h-20: 5rem;
  --t-h-24: 6rem;
  --t-h-32: 8rem;
  --t-h-40: 10rem;
  --t-h-48: 12rem;
  --t-h-56: 14rem;
  --t-h-64: 16rem;
  --t-h-auto: auto;
  --t-h-px: 1px;
  --t-h-full: 100%;
  --t-h-screen: 100vh;
  --t-min-w-0: 0;
  --t-min-w-full: 100%;
  --t-min-h-0: 0;
  --t-min-h-full: 100%;
  --t-min-h-screen: 100vh;
  --t-max-w-xs: 20rem;
  --t-max-w-sm: 24rem;
  --t-max-w-md: 28rem;
  --t-max-w-lg: 32rem;
  --t-max-w-xl: 36rem;
  --t-max-w-2xl: 42rem;
  --t-max-w-3xl: 48rem;
  --t-max-w-4xl: 56rem;
  --t-max-w-5xl: 64rem;
  --t-max-w-6xl: 72rem;
  --t-max-w-full: 100%;
  --t-max-h-full: 100%;
  --t-max-h-screen: 100vh;
  --t-p-0: 0;
  --t-p-1: 0.25rem;
  --t-p-2: 0.5rem;
  --t-p-3: 0.75rem;
  --t-p-4: 1rem;
  --t-p-5: 1.25rem;
  --t-p-6: 1.5rem;
  --t-p-8: 2rem;
  --t-p-10: 2.5rem;
  --t-p-12: 3rem;
  --t-p-16: 4rem;
  --t-p-20: 5rem;
  --t-p-24: 6rem;
  --t-p-32: 8rem;
  --t-p-40: 10rem;
  --t-p-48: 12rem;
  --t-p-56: 14rem;
  --t-p-64: 16rem;
  --t-p-px: 1px;
  --t-m-0: 0;
  --t-m-1: 0.25rem;
  --t-m-2: 0.5rem;
  --t-m-3: 0.75rem;
  --t-m-4: 1rem;
  --t-m-5: 1.25rem;
  --t-m-6: 1.5rem;
  --t-m-8: 2rem;
  --t-m-10: 2.5rem;
  --t-m-12: 3rem;
  --t-m-16: 4rem;
  --t-m-20: 5rem;
  --t-m-24: 6rem;
  --t-m-32: 8rem;
  --t-m-40: 10rem;
  --t-m-48: 12rem;
  --t-m-56: 14rem;
  --t-m-64: 16rem;
  --t-m-auto: auto;
  --t-m-px: 1px;
  --t-m--1: -0.25rem;
  --t-m--2: -0.5rem;
  --t-m--3: -0.75rem;
  --t-m--4: -1rem;
  --t-m--5: -1.25rem;
  --t-m--6: -1.5rem;
  --t-m--8: -2rem;
  --t-m--10: -2.5rem;
  --t-m--12: -3rem;
  --t-m--16: -4rem;
  --t-m--20: -5rem;
  --t-m--24: -6rem;
  --t-m--32: -8rem;
  --t-m--40: -10rem;
  --t-m--48: -12rem;
  --t-m--56: -14rem;
  --t-m--64: -16rem;
  --t-m--px: -1px;
  --t-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --t-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --t-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --t-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --t-shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --t-shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --t-shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
  --t-shadow-none: none;
  --t-z-0: 0;
  --t-z-10: 10;
  --t-z-20: 20;
  --t-z-30: 30;
  --t-z-40: 40;
  --t-z-50: 50;
  --t-z-auto: auto;
  --t-opacity-0: 0;
  --t-opacity-25: 0.25;
  --t-opacity-50: 0.5;
  --t-opacity-75: 0.75;
  --t-opacity-100: 1;
  --t-transition-all: 0.25s all ease-in-out;
  --t-transition-opacity: 0.25s opacity ease-in-out;
  --t-transition-color: 0.25s color ease-in-out;
  --t-transition-shadow: 0.25s box-shadow ease-in-out;
  --t-transition-border: 0.25s border ease-in-out;
  --t-transition-bg: 0.25s background ease-in-out;
}

body {
  --t-theme: 'light';
  --t-font-size: var(--t-text-base);
  --t-font-family: var(--t-font-sans);
  --t-margin: var(--t-m-3);
  --t-margin-top: var(--t-m-3);
  --t-margin-right: var(--t-m-3);
  --t-margin-bottom: var(--t-m-3);
  --t-margin-left: var(--t-m-3);
  --t-padding: var(--t-p-3);
  --t-gap: var(--t-p-1);
  --t-padding-top: var(--t-p-3);
  --t-padding-right: var(--t-p-3);
  --t-padding-bottom: var(--t-p-3);
  --t-padding-left: var(--t-p-3);
  --t-border-size: var(--t-border);
  --t-border-color: var(--t-color-gray-500);
  --t-outline-size: var(--t-border-2);
  --t-background-color: var(--t-color-white);
  --t-color: var(--t-color-black);
  --t-color-primary: var(--t-color-purple-500);
  --t-color-accent: var(--t-color-teal-500);
  --t-color-success: var(--t-color-green-500);
  --t-color-error: var(--t-color-red-500);
  --t-label-color: var(--t-color-gray-800);
  --t-label-size: var(--t-text-base);
  --t-input-color: var(--t-color-gray-900);
  --t-input-bg-color: var(--t-color-white);
  --t-message-color: var(--t-color-gray-700);
  --t-message-size: var(--t-text-sm);
  --t-transition: var(--t-transition-all);
}

body.dark {
  --t-theme: 'dark';
  --t-background-color: var(--t-color-black);
  --t-color: var(--t-color-white);
  --t-label-color: var(--t-color-gray-100);
  --t-message-color: var(--t-color-gray-300);
  --t-input-color: var(--t-color-white);
  --t-input-bg-color: var(--t-color-gray-900);
}