:root {
  --z-color-transparent: transparent;
  --z-color-black: #000;
  --z-color-white: #fff;
  --z-color-gray-100: #f7fafc;
  --z-color-gray-200: #edf2f7;
  --z-color-gray-300: #e2e8f0;
  --z-color-gray-400: #cbd5e0;
  --z-color-gray-500: #a0aec0;
  --z-color-gray-600: #718096;
  --z-color-gray-700: #4a5568;
  --z-color-gray-800: #2d3748;
  --z-color-gray-900: #1a202c;
  --z-color-red-100: #fff5f5;
  --z-color-red-200: #fed7d7;
  --z-color-red-300: #feb2b2;
  --z-color-red-400: #fc8181;
  --z-color-red-500: #f56565;
  --z-color-red-600: #e53e3e;
  --z-color-red-700: #c53030;
  --z-color-red-800: #9b2c2c;
  --z-color-red-900: #742a2a;
  --z-color-orange-100: #fffaf0;
  --z-color-orange-200: #feebc8;
  --z-color-orange-300: #fbd38d;
  --z-color-orange-400: #f6ad55;
  --z-color-orange-500: #ed8936;
  --z-color-orange-600: #dd6b20;
  --z-color-orange-700: #c05621;
  --z-color-orange-800: #9c4221;
  --z-color-orange-900: #7b341e;
  --z-color-yellow-100: #fffff0;
  --z-color-yellow-200: #fefcbf;
  --z-color-yellow-300: #faf089;
  --z-color-yellow-400: #f6e05e;
  --z-color-yellow-500: #ecc94b;
  --z-color-yellow-600: #d69e2e;
  --z-color-yellow-700: #b7791f;
  --z-color-yellow-800: #975a16;
  --z-color-yellow-900: #744210;
  --z-color-green-100: #f0fff4;
  --z-color-green-200: #c6f6d5;
  --z-color-green-300: #9ae6b4;
  --z-color-green-400: #68d391;
  --z-color-green-500: #48bb78;
  --z-color-green-600: #38a169;
  --z-color-green-700: #2f855a;
  --z-color-green-800: #276749;
  --z-color-green-900: #22543d;
  --z-color-teal-100: #e6fffa;
  --z-color-teal-200: #b2f5ea;
  --z-color-teal-300: #81e6d9;
  --z-color-teal-400: #4fd1c5;
  --z-color-teal-500: #38b2ac;
  --z-color-teal-600: #319795;
  --z-color-teal-700: #2c7a7b;
  --z-color-teal-800: #285e61;
  --z-color-teal-900: #234e52;
  --z-color-blue-100: #ebf8ff;
  --z-color-blue-200: #bee3f8;
  --z-color-blue-300: #90cdf4;
  --z-color-blue-400: #63b3ed;
  --z-color-blue-500: #4299e1;
  --z-color-blue-600: #3182ce;
  --z-color-blue-700: #2b6cb0;
  --z-color-blue-800: #2c5282;
  --z-color-blue-900: #2a4365;
  --z-color-indigo-100: #ebf4ff;
  --z-color-indigo-200: #c3dafe;
  --z-color-indigo-300: #a3bffa;
  --z-color-indigo-400: #7f9cf5;
  --z-color-indigo-500: #667eea;
  --z-color-indigo-600: #5a67d8;
  --z-color-indigo-700: #4c51bf;
  --z-color-indigo-800: #434190;
  --z-color-indigo-900: #3c366b;
  --z-color-purple-100: #faf5ff;
  --z-color-purple-200: #e9d8fd;
  --z-color-purple-300: #d6bcfa;
  --z-color-purple-400: #b794f4;
  --z-color-purple-500: #9f7aea;
  --z-color-purple-600: #805ad5;
  --z-color-purple-700: #6b46c1;
  --z-color-purple-800: #553c9a;
  --z-color-purple-900: #44337a;
  --z-color-pink-100: #fff5f7;
  --z-color-pink-200: #fed7e2;
  --z-color-pink-300: #fbb6ce;
  --z-color-pink-400: #f687b3;
  --z-color-pink-500: #ed64a6;
  --z-color-pink-600: #d53f8c;
  --z-color-pink-700: #b83280;
  --z-color-pink-800: #97266d;
  --z-color-pink-900: #702459;
  --z-sm: 640px;
  --z-md: 768px;
  --z-lg: 1024px;
  --z-xl: 1280px;
  --z-font-sans: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --z-font-serif: Georgia,Cambria,"Times New Roman",Times,serif;
  --z-font-mono: Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --z-text-xs: 0.75rem;
  --z-text-sm: 0.875rem;
  --z-text-base: 1rem;
  --z-text-lg: 1.125rem;
  --z-text-xl: 1.25rem;
  --z-text-2xl: 1.5rem;
  --z-text-3xl: 1.875rem;
  --z-text-4xl: 2.25rem;
  --z-text-5xl: 3rem;
  --z-text-6xl: 4rem;
  --z-font-hairline: 100;
  --z-font-thin: 200;
  --z-font-light: 300;
  --z-font-normal: 400;
  --z-font-medium: 500;
  --z-font-semibold: 600;
  --z-font-bold: 700;
  --z-font-extrabold: 800;
  --z-font-black: 900;
  --z-leading-none: 1;
  --z-leading-tight: 1.25;
  --z-leading-snug: 1.375;
  --z-leading-normal: 1.5;
  --z-leading-relaxed: 1.625;
  --z-leading-loose: 2;
  --z-tracking-tighter: -0.05em;
  --z-tracking-tight: -0.025em;
  --z-tracking-normal: 0;
  --z-tracking-wide: 0.025em;
  --z-tracking-wider: 0.05em;
  --z-tracking-widest: 0.1em;
  --z-bg-auto: auto;
  --z-bg-cover: cover;
  --z-bg-contain: contain;
  --z-border-0: 0;
  --z-border-2: 2px;
  --z-border-4: 4px;
  --z-border-8: 8px;
  --z-border: 1px;
  --z-round-none: 0;
  --z-round-sm: 0.125rem;
  --z-round: 0.25rem;
  --z-round-lg: 0.5rem;
  --z-round-full: 9999px;
  --z-w-0: 0;
  --z-w-1: 0.25rem;
  --z-w-2: 0.5rem;
  --z-w-3: 0.75rem;
  --z-w-4: 1rem;
  --z-w-5: 1.25rem;
  --z-w-6: 1.5rem;
  --z-w-8: 2rem;
  --z-w-10: 2.5rem;
  --z-w-12: 3rem;
  --z-w-16: 4rem;
  --z-w-20: 5rem;
  --z-w-24: 6rem;
  --z-w-32: 8rem;
  --z-w-40: 10rem;
  --z-w-48: 12rem;
  --z-w-56: 14rem;
  --z-w-64: 16rem;
  --z-w-auto: auto;
  --z-w-px: 1px;
  --z-w-1-2: 50%;
  --z-w-1-3: 33.333333%;
  --z-w-2-3: 66.666667%;
  --z-w-1-4: 25%;
  --z-w-2-4: 50%;
  --z-w-3-4: 75%;
  --z-w-1-5: 20%;
  --z-w-2-5: 40%;
  --z-w-3-5: 60%;
  --z-w-4-5: 80%;
  --z-w-1-6: 16.666667%;
  --z-w-2-6: 33.333333%;
  --z-w-3-6: 50%;
  --z-w-4-6: 66.666667%;
  --z-w-5-6: 83.333333%;
  --z-w-1-12: 8.333333%;
  --z-w-2-12: 16.666667%;
  --z-w-3-12: 25%;
  --z-w-4-12: 33.333333%;
  --z-w-5-12: 41.666667%;
  --z-w-6-12: 50%;
  --z-w-7-12: 58.333333%;
  --z-w-8-12: 66.666667%;
  --z-w-9-12: 75%;
  --z-w-10-12: 83.333333%;
  --z-w-11-12: 91.666667%;
  --z-w-full: 100%;
  --z-w-screen: 100vw;
  --z-h-0: 0;
  --z-h-1: 0.25rem;
  --z-h-2: 0.5rem;
  --z-h-3: 0.75rem;
  --z-h-4: 1rem;
  --z-h-5: 1.25rem;
  --z-h-6: 1.5rem;
  --z-h-8: 2rem;
  --z-h-10: 2.5rem;
  --z-h-12: 3rem;
  --z-h-16: 4rem;
  --z-h-20: 5rem;
  --z-h-24: 6rem;
  --z-h-32: 8rem;
  --z-h-40: 10rem;
  --z-h-48: 12rem;
  --z-h-56: 14rem;
  --z-h-64: 16rem;
  --z-h-auto: auto;
  --z-h-px: 1px;
  --z-h-full: 100%;
  --z-h-screen: 100vh;
  --z-min-w-0: 0;
  --z-min-w-full: 100%;
  --z-min-h-0: 0;
  --z-min-h-full: 100%;
  --z-min-h-screen: 100vh;
  --z-max-w-xs: 20rem;
  --z-max-w-sm: 24rem;
  --z-max-w-md: 28rem;
  --z-max-w-lg: 32rem;
  --z-max-w-xl: 36rem;
  --z-max-w-2xl: 42rem;
  --z-max-w-3xl: 48rem;
  --z-max-w-4xl: 56rem;
  --z-max-w-5xl: 64rem;
  --z-max-w-6xl: 72rem;
  --z-max-w-full: 100%;
  --z-max-h-full: 100%;
  --z-max-h-screen: 100vh;
  --z-p-0: 0;
  --z-p-1: 0.25rem;
  --z-p-2: 0.5rem;
  --z-p-3: 0.75rem;
  --z-p-4: 1rem;
  --z-p-5: 1.25rem;
  --z-p-6: 1.5rem;
  --z-p-8: 2rem;
  --z-p-10: 2.5rem;
  --z-p-12: 3rem;
  --z-p-16: 4rem;
  --z-p-20: 5rem;
  --z-p-24: 6rem;
  --z-p-32: 8rem;
  --z-p-40: 10rem;
  --z-p-48: 12rem;
  --z-p-56: 14rem;
  --z-p-64: 16rem;
  --z-p-px: 1px;
  --z-m-0: 0;
  --z-m-1: 0.25rem;
  --z-m-2: 0.5rem;
  --z-m-3: 0.75rem;
  --z-m-4: 1rem;
  --z-m-5: 1.25rem;
  --z-m-6: 1.5rem;
  --z-m-8: 2rem;
  --z-m-10: 2.5rem;
  --z-m-12: 3rem;
  --z-m-16: 4rem;
  --z-m-20: 5rem;
  --z-m-24: 6rem;
  --z-m-32: 8rem;
  --z-m-40: 10rem;
  --z-m-48: 12rem;
  --z-m-56: 14rem;
  --z-m-64: 16rem;
  --z-m-auto: auto;
  --z-m-px: 1px;
  --z-m--1: -0.25rem;
  --z-m--2: -0.5rem;
  --z-m--3: -0.75rem;
  --z-m--4: -1rem;
  --z-m--5: -1.25rem;
  --z-m--6: -1.5rem;
  --z-m--8: -2rem;
  --z-m--10: -2.5rem;
  --z-m--12: -3rem;
  --z-m--16: -4rem;
  --z-m--20: -5rem;
  --z-m--24: -6rem;
  --z-m--32: -8rem;
  --z-m--40: -10rem;
  --z-m--48: -12rem;
  --z-m--56: -14rem;
  --z-m--64: -16rem;
  --z-m--px: -1px;
  --z-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --z-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --z-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --z-shadow-xl: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  --z-shadow-2xl: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  --z-shadow-inner: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --z-shadow-outline: 0 0 0 3px rgba(66, 153, 225, 0.5);
  --z-shadow-none: none;
  --z-z-0: 0;
  --z-z-10: 10;
  --z-z-20: 20;
  --z-z-30: 30;
  --z-z-40: 40;
  --z-z-50: 50;
  --z-z-auto: auto;
  --z-opacity-0: 0;
  --z-opacity-25: 0.25;
  --z-opacity-50: 0.5;
  --z-opacity-75: 0.75;
  --z-opacity-100: 1;
  --z-transition-all: 0.2s all ease-in-out;
  --z-transition-opacity: 0.2s opacity ease-in-out;
  --z-transition-color: 0.2s color ease-in-out;
  --z-transition-shadow: 0.2s box-shadow ease-in-out;
  --z-transition-border: 0.2s border ease-in-out;
  --z-transition-bg: 0.2s background ease-in-out;
}

body {
  --z-theme: 'light';
  --z-font-size: var(--z-text-base);
  --z-font-family: var(--z-font-sans);
  --z-leading: var(--z-leading-normal);
  --z-margin: var(--z-m-3);
  --z-margin-top: var(--z-m-3);
  --z-margin-right: var(--z-m-3);
  --z-margin-bottom: var(--z-m-3);
  --z-margin-left: var(--z-m-3);
  --z-padding: var(--z-p-3);
  --z-gap: var(--z-p-1);
  --z-padding-top: var(--z-p-3);
  --z-padding-right: var(--z-p-3);
  --z-padding-bottom: var(--z-p-3);
  --z-padding-left: var(--z-p-3);
  --z-border-size: var(--z-border);
  --z-border-color: var(--z-color-gray-500);
  --z-outline-size: var(--z-border-2);
  --z-background-color: var(--z-color-white);
  --z-color: var(--z-color-black);
  --z-color-primary: var(--z-color-purple-500);
  --z-color-accent: var(--z-color-teal-500);
  --z-color-success: var(--z-color-green-500);
  --z-color-error: var(--z-color-red-500);
  --z-label-color: var(--z-color-gray-800);
  --z-label-size: var(--z-text-base);
  --z-input-color: var(--z-color-gray-900);
  --z-input-bg-color: var(--z-color-white);
  --z-input-placeholder-color: var(--z-color-gray-600);
  --z-message-size: var(--z-text-sm);
  --z-transition: var(--z-transition-all);
}

body.dark {
  --z-theme: 'dark';
  --z-background-color: var(--z-color-black);
  --z-color: var(--z-color-white);
  --z-label-color: var(--z-color-gray-100);
  --z-message-color: var(--z-color-gray-300);
  --z-input-color: var(--z-color-white);
  --z-input-bg-color: var(--z-color-gray-900);
}